/*Setting root element (html)*/
html {
   font-size:62.5%;
   margin:0;
   padding:0;
}

/*Setting body margin to 0*/
body {
    margin:0;
    padding:0;
    min-height:100vh;
}

/*Setting the border-box property*/
* {
    box-sizing:border-box;
}

/*Setting the style for custom font face 'Halloween Too'*/
@font-face {
    font-family:'Halloween Too';
    src:url('Halloween Too.ttf');
}

/*Setting the style for custom font face 'Freaky Halloween'*/
@font-face {
font-family:'Freaky Halloween';
src:url('FREAKY HALLOWEEN.otf');
}

 /*Setting style for the horizontal navigation bar*/
 .hornavbar ul {
    list-style-type:none;
    margin:0;
    padding:0;
    background-color:#333;
    overflow:hidden;
    display:flex;
    flex-wrap:wrap;
    min-height:3.9rem;
 }

 .hornavbar a {
    display:block;
    text-decoration:none;
    padding:0.8rem 1.2rem;
    font-size:2rem;
    color:white;
    text-align:center;
 }

 .hornavbar a:hover {
    background-color:white;
    color:black;
 }


 /*Setting the style for the last division "footer" of body section*/

 .footer {
    background-color:#333;
    color:white;
    font-size:3rem;
    text-align:center;
    min-height:12rem;
 }

 .footer ul {
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
 }

 .footer a {
    display:block;
    text-decoration:none;
    color:white;
    margin:0;
    padding:0.8rem 1.6rem;
 }

 .footer a:hover {
    color:black;
    background-color:white;
 }

 /*Setting breakpoints for responsive web design*/
 
 @media screen and (max-width:600px) {
    /*Setting breakpoints for horizontal navigation bar*/
    .hornavbar ul {
       flex-direction:column;
       justify-content:center;
    }
     
    /*Setting breakpoints for footer*/
    .footer ul {
        flex-direction:column;
    }
    /*Setting breakpoints for history.html 6 divisions*/
    .his1, .his2, .his3, .his4, .his5, .his6 {
        height:auto;
        overflow:hidden;
    }
 }
/*------------------------------------------------------*/
 /*Setting the style for the body section of index.html*/
 /*-----------------------------------------------------*/


 /*Setting the style for the audio element*/
 #audio {
   display:none;
 }

 
 /*Setting the style for the first division "main1" of body section*/
 .main1 {
    background-image:url('Images/halloween-back-1.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    width:100%;
    height:auto;
    opacity:0.8;
    padding:8px;
    word-wrap:break-word;
 }
 /*Setting the style for the image at topright corner of page*/
 .main1 .img1 {
    position:fixed;
    top:0;
    right:0;
    z-index:1;
 }
 .main11 h1 {
    font-size:9vw;
    font-family:"Halloween Too", "Times New Roman", serif;
    text-align:center;
    color:white;
    text-shadow:5px 5px grey;
    margin:0;
    word-wrap:break-word;
 }
 .main11 h2 {
    font-size:3vw;
    color:white;
    text-align:center;
    line-height:50px;
    text-shadow:1px 1px black;
    word-wrap:break-word;
 }
 .main11 h2 p {
    font-size:3.5vw;
    font-family:'Halloween Too', 'Times New Roman', serif;
    color:white;
    text-align:center;
    text-shadow:0px 4px red, 0px 6px blue;
    line-height:1.5;
    word-wrap:break-word;
 }

 /*Setting the style for second division "main2* of body section*/
 .main2 {
    background-image:url('Images/rule.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    opacity:0.8;
    text-align:center;
    overflow:hidden;
 }

 .main2 h1 {
    color:white;
    text-align:center;
    font-size:6vw;
    font-family:'Halloween Too', 'Times New Roman', serif;
    margin:0;
    padding:20px; 
 }

 .main2 p {
    color:white;
    font-weight:bold;
    font-size:2vw;
 }

 .main2 ol {
    list-style-type:lower-alpha;
    font-size:1.5vw;
    font-weight:bold;
    color:white;
    list-style-position:inside;
    text-shadow:1px 1px black;
    line-height:2;
 }

 /*Setting the style for third division "main3" of body section*/
 .main3 {
    background-image:url('Images/costume-contest.jpg');
    background-repeat:no-repeat;
    width:100%;
    background-size:100% 100%;
    height:auto;
    opacity:0.8;
    padding:8px;
    color:white;
    text-align:center;
 }

 .main3 h1 {
    color:white;
    text-align:center;
    font-size:5vw;
    font-family:'Halloween Too', 'Times New Roman', serif;
 }

 /*Setting the style of form label*/
 .main3 form label {
    font-size:25px;
    width:350px;
    display:inline-block;
    text-align:center;
 }
 .main3 .mradio {
    display:inline-block;
    width:100px;
 }
 .main3 .fradio {
    display:inline-block;
    width:100px;
 }

 .fnameclass {
    font-size:20px;
    padding:8px;
    margin:5px;
    width:300px;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
 }

 .subbut {
    padding:8px 16px;
    font-size:35px;
    font-family:'Halloween Too', 'Times New Roman', serif;
 }

 .res {
    padding:8px 16px;
    font-size:35px;
    font-family:'Halloween Too', 'Times New Roman', serif;
 }

/*------------------------------------------------------*/
 /*Setting the style for the body section of history.html*/
 /*-----------------------------------------------------*/


 /*Setting the style for first division "his1" of body section*/
 .his1 {
    background-image:url('Images/Children-Halloween-costumes.webp');
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:800px;
    width:100%;
    padding:0;
    margin:0;
    opacity:0.8;
    word-wrap:break-word;
}


.his11 h1 {
font-family:'Halloween Too', 'Times New Roman', serif;
font-size:100px;
color:white;
text-align:center;
margin:0;
padding:0;
text-shadow:5px 5px grey;
}
.his11 h2 {
color:orange;
text-align:center;
line-height:40px;
}

/*Setting the style for second division "his2" of body section*/
.his2 {
    background-image:url('Images/history2.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:800px;
    width:100%;
    padding:0;
    margin:0;

}

.his21 h1 {
font-family:'Halloween Too', 'Times New Roman', serif;
font-size:100px;
color:white;
text-align:center;
margin:0;
padding:0;
text-shadow:5px 5px grey;
}
.his21 h2 {
color:white;
text-align:center;
line-height:40px;
text-shadow:3px 0px red, 4px 3px blue;
}

/*Setting the style for third division "his3" of body section*/
.his3 {
    background-image:url('Images/history1.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:800px;
    width:100%;
    padding:0;
    margin:0;

}

.his31 h1 {
font-family:'Halloween Too', 'Times New Roman', serif;
font-size:100px;
color:white;
text-align:center;
margin:0;
padding:0;
text-shadow:5px 5px grey;
}
.his31 h2 {
color:white;
text-align:center;
line-height:40px;
text-shadow:3px 0px red, 4px 3px blue;
}

/*Setting the style for fourth division "his4" of body section*/
.his4 {
    background-image:url('Images/celebrate.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:800px;
    width:100%;
    padding:0;
    margin:0;
}

/*Setting the style for the image at topright corner of page*/
.his4 .img2 {
position:fixed;
top:0;
right:0;
z-index:1;
}

.his41 h1 {
font-family:'Halloween Too', 'Times New Roman', serif;
font-size:100px;
color:white;
text-align:center;
margin:0;
padding:0;
text-shadow:5px 5px grey;
}
.his41 h2 {
color:white;
text-align:center;
line-height:40px;
text-shadow:3px 0px red, 4px 3px blue;
}

/*Setting the style for five division "his5" of body section*/
.his5 {
    background-image:url('Images/halloween-usa.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:800px;
    width:100%;
    padding:0;
    margin:0;

}

.his51 h1 {
font-family:'Halloween Too', 'Times New Roman', serif;
font-size:100px;
color:white;
text-align:center;
margin:0;
padding:0;
text-shadow:5px 5px grey;
}
.his51 h2 {
color:white;
text-align:center;
line-height:40px;
text-shadow:3px 0px red, 4px 3px blue;
}

/*Setting the style for the sixth division "his6* of body section*/

.his6 h1 {
font-family:'Halloween Too', 'Times New Roman', serif;
font-size:100px;
color:black;
text-align:center;
margin:0;
padding:0;
height:200px;
width:auto;
text-shadow:3px 3px darkgrey;
}

.his61 {
background-image:url('Images/visual-history.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
height:1500px;
width:100%;
margin:0;
padding:0;
}

/*------------------------------------------------------*/
 /*Setting the style for the body section of previouscontest.html*/
 /*-----------------------------------------------------*/


 /*Setting the style for the first division "contest1" of body section*/
 .contest1 {
    background-image:url('Images/contest-1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%;
    height:auto;
    opacity:0.9;
    margin:0;
    padding:0;
 }

 .contest1::after {
    content:"";
    clear:both;
    display:table;
 }


 /*Setting the style for the "sidenav" of body section*/
 .sidenav {
    float:left;
    width:25%;
    height:85vh;
 }
 .sidenav ul {
        list-style-type:none;
        margin:0;
        padding:0;
        display:inline-block;
 }
 .sidenav ul li a {
    display:inline-block;
    text-decoration:none;
    margin:20px 20px 20px 0px;
    padding:30px 90px;
    color:white;
    font-weight:bold;
    font-size:20px;
    background-color:#333;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    margin-left:-80px;
 }
 .sidenav ul li a:hover {
    margin-left:0px;
    color:black;
    background-color:#f1f1f1;
    border:2px solid black;
 }

 /*Setting the style for the div class "winner" and also its inside 3 divs*/
 .winner {
    float:left;
    width:75%;
    overflow:hidden;
 }

 .winner h1 {
    color:white;
    text-align:center;
 }

 .winner1, .winner2, .winner3 {
    background-color:#333;
    width:400px;
    height:450px;
    border:2px solid black;
    float:left;
    margin:20px;
    text-align:center;
    font-weight:bold;
    font-size:20px;
    color:white;
    text-shadow:1px 1px black;
    box-shadow:8px 8px 8px 8px rgba(144,144,144,1);
 }
 #win1, #win2, #win3 {
    width: 100%;
    height:80%;
    border:none;
 }

 /*------------------------------------------------------*/
 /*Setting the style for the body section of store.html*/
 /*-----------------------------------------------------*/

 /*Setting the style for the first division "store1" of body section*/
 .store1 {
    background-image:url('Images/store.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    width: 100%;
    height:790px;
    opacity:0.9;
    margin:0;
    padding:0;
 }

 .store1 h1 {
    font-size:60px;
    font-family:'Halloween Too', 'Times New Roman', serif;
    text-align:center;
    margin:0;
    color:white;
    text-shadow:2px 2px black;
 }

 /*Setting the style of 8 divs that contain the categories' images*/
 .categories::after {
    content:"";
    clear:both;
    display:table;
 }
.categories1 {
    float:left;
}



.categories1 p {
    color:white;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    padding:10px;
    margin:0;
    text-shadow:1px 1px grey,2px 2px black;
}
.categories1 {
    width:20%;
    height:200px;
    border:2px solid grey;
    margin:20px;
}
.categories1 img {
    width:100%;
    height:100%;
}



 /*------------------------------------------------------*/
 /*Setting the style for the body section of about.html*/
 /*-----------------------------------------------------*/



/*Setting the style for the first division "about1" of body section*/
.about1 {
    background-image:url('Images/about.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    width: 100%;
    opacity:0.9;
    margin:0;
    padding:0;
    text-align:center;
    color:white;
    flex:1;
 }

 .about1 h1 {
    font-size:8rem;
    color:white;
    font-family:'Halloween Too', 'Times New Roman', serif; 
    margin:0;
    padding:0;
    text-shadow:0.2rem 0.2rem darkgrey;
 }
 .about1 h2 {
    font-size:40px;
    color:white;
    font-family:'Times New Roman', serif;
    margin:0;
    padding:0;
    text-shadow:2px 2px black;
 }




 /*------------------------------------------------------*/
 /*Setting the style for the body section of contact.html*/
 /*-----------------------------------------------------*/





 /*Setting the style for the first division "contact1" of the body section*/
 .contact1 {
    background-image:url('Images/contact.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    width:100%;
    height:790px;
    opacity:0.9;
    text-align:center;
 }
 .contact1 h1 {
    font-size:100px;
    font-family:"Halloween Too", "Times New Roman", serif;
    text-align:center;
    color:white;
    text-shadow:5px 5px grey;
    margin:0;
 }

 /*Setting the style for the form in division "contact1"*/

 /*Setting the font family for class "freaky"*/
 .contact1 .freaky {
    font-family:'Freaky Halloween', 'Times New Roman', serif;
 }

 /*Setting the style of form label*/
 .contact1 form label {
    font-size:25px;
    width:350px;
    display:inline-block;
    color:white;
 }

 .contactinput {
    font-size:20px;
    padding:8px;
    margin:5px;
    width:300px;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
 }

 .contact1 #review {
    resize:none;
 }

 .subbut {
    padding:8px 16px;
    font-size:35px;
    font-family:'Halloween Too', 'Times New Roman', serif;
 }
